{% extends 'base.html' %}

{% load static %}

{% block content %}
    <section class='home_page'>
        <h1><span>Турнир</span> Прогнозистов</h1>
        <div class="main_images">
            <img src="{% static 'img_assets/tit_circle.png' %}" alt="титус">
            <img src="{% static 'img_assets/ryk_circle.png' %}" alt="рыкус">
            <img src="{% static 'img_assets/pas_circle.png' %}" alt="пасус">
            <img src="{% static 'img_assets/lev_circle.png' %}" alt="Николай">
        </div>
        <h2>Мы прогнозисты хоть куда, <br>
            в наших очках <span>нет льда</span>
        </h2>
        <div class="main_links">
            <a href="/season">оставить прогноз</a>
            <a href="https://vk.com/turnirprognoz2019">группа вк</a>
        </div>
    </section>
    <script src="{% static 'js/assets/index.js' %}"></script>

{% endblock %}