{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">
    <title>Турнир прогнозистов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="#"><span>Сезон</span></a>
                </li>
                <li>
                    <a href="/history">История</a>
                </li>
                <li>
                    <a href="/memes">Мемы</a>
                </li>
                <li>
                    <a href="/game">Игра</a>
                </li>
            </ul>
        </nav>
        <div class='login_mark'>
        </div>
    </header>

    <section class="season">
        <div class="leave_forecast">
            <div class="list_games">
                <h3>Оставить прогноз</h3>
                <div class="inner_list_games">
                    <ul class='left_teams'>
                        {% for home_team in home_teams %}
                        <li>{{home_team}}</li>
                        {% endfor %}
                    </ul>
                    <form action="">
                        <div class="first_column">
                            {% for home_team in home_teams %}
                            <input type="text">
                            {% endfor %}
                        </div>
                        <ul class='two_dotes'>
                            {% for home_team in home_teams %}
                            <li> : </li>
                            {% endfor %}
                        </ul>
                        <div class="second_column">
                            {% for guest_team in guest_teams %}
                            <input type="text">
                            {% endfor %}
                        </div>
                    </form>
                    <ul class='right_teams'>
                        {% for guest_team in guest_teams %}
                        <li>{{guest_team}}</li>
                        {% endfor %}
                    </ul>
                </div>
                <button>Отправить</button>
            </div>

            <div class="times">
                <p>Прогнозируем на <br>{{weekend_dates}}</p>
                <span>До конца сезона <br> </span>
                {{season_end | timeuntil}}
            </div>
        </div>

        <div class="table">
            <h3>Сезон</h3>
            <table>
                <tr class = 'head_table'>
                    <td></td>
                    <td>Неделя</td>
                    <td>Месяц</td>
                    <td>Сезон</td>
                </tr>
                {% for user_k, user_v in users.items %}
                <tr>
                    <td class = 'name'>{{user_k}}</td>
                    <td class = 'season_result'>{{user_v.0}}</td>
                    <td class = 'month_result'>{{user_v.1}}</td>
                    <td class = 'week_result'>{{user_v.2}}</td>
                </tr>
                {% endfor %}
            </table>
            <button>Оставить коммент</button>
        </div>

        <div class="comments">
            <div class="comment">
                <img src="{% static 'img_assets/ryk_circle.png' %}" alt="">
                <div class="text"></div>
            </div>
            <div class="comment">
                <div class="text"></div>
                <img src="{% static 'img_assets/lev_circle.png' %}" alt="">
            </div>
            <div class="comment">
                <img src="{% static 'img_assets/tit_circle.png' %}" alt="">
                <div class="text"></div>
            </div>
        </div>
    </section>
    <footer>
        <div class="up_footer">
            <div class="name">Турнир Прогнозистов</div>
            <ul>
                <li>
                    <a href="/">Главная</a>
                </li>
                <li>
                    <a href="/season">Сезон</a>
                </li>
                <li>
                    <a href="/history">История</a>
                </li>
                <li>
                    <a href="/memes">Мемы</a>
                </li>
                <li>
                    <a href="/game">Игра</a>
                </li>
            </ul>
            <a href="https://vk.com/turnirprognoz2019" target= '_blank'>
                 <img src="{% static 'img_assets/vk.svg' %}" alt="ВК">
            </a>
        </div>
        <span></span>
        <div class="down_footer">
            <div class="tribbute">
                Photo by Timothy Tan on Unsplash
            </div>
            <div class="rights">
                Все права защищены, 2020
            </div>
        </div>
    </footer>
</body>
</html>